// Colors
@light-grey: #e1e1e1;
@dark-grey: #333;
@primary-color: #526971;
@button-color: lighten(@dark-grey, 13.5%);
@border-color: #bbb;
@link-color: #55868a;
@font-color: #303231;

@header-color: #4b3f2d;
@accent-color: #bd9e72;