html {  box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  /*background: url('gingham.png') repeat;*/
  background: white;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.9);*/
}

.header-row h1 {
  margin-bottom: 0;
}

.nav-row {
  background-color: #0074D9;
}

nav {
  font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem;
}
@media (min-width: 550px) {
  nav { font-size: 2.4rem; }
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.content-row {
  margin-top: 18px;
  font-size: 1.8rem;
}

.contact-box {
  padding: 20px;
  background-color: #eee;
}

.footer-row {
  min-height: 10rem;
  background-color: #0074D9;
  color: white;  
}

.center {
  text-align: center;
}
